.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.cardContainer > div {
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  flex-direction: column;
}

.cardTitle {
  position: relative;
}

.cardTitle::afer {
  position: absolute;
  content: "";
  top: 100%;
  width: 120px;
  height: 3px;
  background: black;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1200px) {
  .mediaContainer {
    max-width: 800px;
  }
  .cardContainer > div {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .cardContainer > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cardContainer > div > div {
    margin: auto;
  }
}
