* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
form label {
  color: #ffffff !important;
}
fieldset {
  color: #ffffff !important;

  border-color: #ffffff !important;
}
.Mui-selected {
  color: #000 !important;
}
.css-vmhglf-MuiTabs-root {
  border-right: 0 !important;
}
.MuiSnackbarContent-root {
  background-color: #80ccdc !important;
}
